/*Stylesheet*/

BODY, HTML {
	margin: 			0;
	padding: 			0;
	font-family: 		Arial, Verdana, sans-serif;
	font-size: 			12px;
	font-weight:		normal;
	color: 				#ccc;
	background-color:	#333;
}

BODY {}


p {
	margin:	10px 0;
}

a:link, a:visited {
	color:			#e7841d;
	font-weight:	bold;
}
a:hover {
}

#header {
	padding:			20px;
	background-color:	#222;
}
	#header h1 {
		font-weight:	normal;
		font-size:		24px;
		margin:			0;
		padding:		0;
	}

	#header p {
		margin:		0;
		padding:	0;

		font-size:	14px;
		color:		#777;
	}

	#header:after{
		content:	"";
		position:	absolute;
	}


.content {
	
	padding:	10px;

	

	color:			#777;

	border:				1px solid #555;
	background-color:	#000;
}

#loader {
	display: none;
}
.loader {
	width: 100%;
	height: 50px;
	position: absolute;
	text-align:center;
	margin-top: 250px;
	background: url('loader.gif') no-repeat;
	background-position: 50% 50%;
	display: block !important;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}